.tracking-icon{
    width: 20px;
    height: 20px;
}
.wishlist-icon{
    width: 20px;
    height: 20px;
}
.setting-icon{
    width: 20px;
    height: 20px;
}
.signout-icon{
    width: 20px;
    height: 20px;
}