.navbar{
    width: 99%;
    height: 70px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid  rgba(0,0,0,0.1);
    margin-top:30px;
    position: absolute;
    font-family: 'Exo 2';
    
}
.catagories-dropdown-menu{
    position: absolute;
    top: 100%;
    width: 400px;
    height: auto;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    z-index: 100;
    background: #fff;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

 
}
.catagories-dropdown-menu li{
    cursor: pointer;
    list-style: none;
    padding:10px 5px;
    border: 1px solid #e0ebe6;
    border-radius: 5px;
    text-align: justify;
   

}
.catagories-dropdown-menu li:hover{
    border: 1px solid #3bb77e;
    color: #3bb77e;
}
.col-sm-3.navbar-first-part {
    width: 250px;
    
}
.col-sm-3.navbar-first-part a{
    font-weight: 500;
    font-size: 16px;
    padding: 10px 10px;
}
.list-style{
    list-style: none;
    margin-top: 12px;
   
 
}
.middle-part {
    width: 68% !important;
}
.list-style li a{
    text-decoration: none;
    padding: 5px 0px;
    margin-right: 36px;
    color: black;
    font-size: 18px;
 
}
.list-style li a:hover{
    color:#198754;
   

}
.list-style li a:hover .home-dropdown-menu{
    visibility: inherit;
}
.arrowbutton{
    margin-left: -30px;
    margin-right: 20px;
    
}
.home-dropdown-menu{
    position: absolute;
    top: 100%;
    width:150px;
    background: #fff;
    height: auto;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    z-index: 100;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    
}

.home-dropdown-menu li{
    padding: 10px;
    cursor: pointer;
}
.groceries-dropdown-menu{
    position: absolute;
    top: 100%;
    width:230px;
    background: #fff;
    height: auto;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    z-index: 100;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
}
.groceries-dropdown-menu li{
    cursor: pointer;
    padding: 10px;

}
.electronics-dropdown-menu{
    position: absolute;
    top: 100%;
    background: #fff;
    width: 250px;
    height: auto;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
    box-shadow:0 3px 6px rgb(0 0 0 / 20%); 
    margin-top: 10px;

}
.electronics-dropdown-menu li{
    padding: 10px;
    cursor: pointer;
}
.fashion-dropdown-menu{
    position: absolute;
    top: 100%;
    background: #fff;
    width: 250px;
    height: auto;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
    box-shadow:0 3px 6px rgb(0 0 0 / 20%); 
    margin-top: 10px;
}
.fashion-dropdown-menu li{
    padding: 10px;
    cursor: pointer;
}
.about-dropdown-menu{
    position: absolute;
    width: 400px;
    top: 100%;
    box-shadow:0 3px 6px rgb(0 0 0 / 20%); 
    background: #fff;
    margin-top: 10px;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
}
.about-dropdown-menu li{
    
    text-align: justify;
    
}
.shop-dropdown-menu{
    position: absolute;
    width: 230px;
    top: 100%;
    box-shadow:0 3px 6px rgb(0 0 0 / 20%); 
    background: #fff;
    margin-top: 10px;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
}
.shop-dropdown-menu li{
    padding: 10px;
    cursor: pointer;
}